.section-hero {
  background-image: url('../img/DSCONF_Web.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  img {
    margin-bottom: 30px;
  }

  .button, .button-inverted {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 2.5em;
  }

  .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  &__wrapper {
    width: 70%;
    padding: 50px 0;
  }

  &__social {
    margin-top: 50px;

    a {
      margin: 0 10px;
      vertical-align: bottom;
      border-bottom-width: 0;

      img {
        filter: brightness(60%);
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;
      }

      img:hover {
        filter: brightness(30%);
      }

      &:hover, &:active, &:focus {
        color: $grey-color-dark;
        border-bottom-color: $grey-color-dark;
      }

      &:last-child() {
        vertical-align: super;
        border-bottom-width: 1px;
      }
    }
  }

  .play-button-link {

    img {
      margin: 0;
      vertical-align: middle;
      margin-bottom: 2px;
      margin-right: 5px;
      padding: 0;
    }
  }

  @media (max-width: 1200px) {
    background-position: bottom right;
    background-size: cover;

    .container {
      align-items: baseline;
    }

    &__wrapper {
      width: 60%;
      padding: 50px 0;
    }

    &__social {
      margin-top: 20px;
    }
  }

  @media (max-width: 979px) {
    background-position: center;
    background-size: 100%;
    background-image: url('../img/Mobile.jpg');

    h1 {
      font-size: 3em;
      color: $grey-color-light;
      padding-top: 100px;
    }

    .flow {
      color: $grey-color-light;
    }

    .button-inverted {
      background-color: $grey-color-light;
    }

    .container {
      align-items: baseline;
    }

    .section-hero__logo {
      width: 30%;
      margin-left: 70%;
      margin-top: 10px;
    }

    &__wrapper {
      width: 100%;
      padding: 20px 0;
    }

    &__social {
      margin-top: 20px;

      a {
        color: $grey-color-light;
        border-bottom-color: $grey-color-light;
      }
    }
  }

  @media (max-width: 767px) {
    background-position: top;
    background-size: cover;
    background-image: url('../img/Mobile.jpg');

    h1 {
      font-size: 2em;
      color: $grey-color-light;
      padding-top: 50px;
    }

    .flow {
      color: $grey-color-light;
    }

    .button-inverted {
      background-color: $grey-color-light;
    }

    .container {
      align-items: baseline;
    }

    .section-hero__logo {
      width: 50%;
      margin-left: 50%;
      margin-top: 10px;
    }

    &__wrapper {
      width: 100%;
      padding: 20px 0;
    }

    &__social {
      margin-top: 20px;

      a {
        color: $grey-color-light;
        border-bottom-color: $grey-color-light;
      }
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.7em;
      padding-top: 40px;
    }

    .flow {
      font-size: 1.2em;
    }
  }
}

.section-intro {
  padding: 100px 0;
}

.section-speakers {
  padding: 100px 0;
  background-color: $grey-color-light;

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1;

    img {
      width: 100px;
      margin-bottom: 15px;
    }
  }
}

.section-schedule {
  padding: 100px 0;

  &__table {
    touch-action: manipulation;
    overflow: auto;

    &--light {
      background-color: $grey-color-light;
    }
  }

  table {
    width: 100%;
    border: 2px solid $grey-color-light;
  }

  thead {
    background-color: $grey-color-light;
    font-size: 18px;
  }
  
  th {
    border-bottom: 1px solid $grey-color-dark;
    padding: 20px 10px;
  }
  
  td {
    padding: 10px;
    vertical-align: top;
  }
  
  td:first-child {
    min-width: 100px;
  }
  
  td:nth-child(2) {
    min-width: 250px;
  }
}

.section-about {
  padding: 100px 0;
  background-color: $grey-color-light;
  text-align: center;
}

.section-sponsors {
  padding: 100px 0;
  text-align: center;
}

.section-location {
  padding: 100px 0;
  background-color: $grey-color-light;
  text-align: center;
}

.section-organisers {
  padding: 100px 0;
  text-align: center;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    flex: 1;

    img {
      width: 20px;
    }

    a {
      text-decoration: none;
      border-bottom-width: 0;
    }

    &--avatar {
      width: 100px !important;
      margin-bottom: 10px;
    }
  }
}
