.section-hero {
  background-image: url('../img/DSCONF_Web.jpg');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  img {
    margin-bottom: 30px;
  }

  .button, .button-inverted {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 2.5em;
  }

  .container {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    width: 70%;
    padding-top: 130px;
    padding-bottom: 50px;
  }

  &__social {
    margin-top: 50px;

    a {
      margin: 0 10px;
      vertical-align: bottom;
      border-bottom-width: 0;

      img {
        filter: brightness(60%);
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;
      }

      img:hover {
        filter: brightness(30%);
      }

      &:hover, &:active, &:focus {
        color: $grey-color-dark;
        border-bottom-color: $grey-color-dark;
      }

      &:last-child() {
        vertical-align: super;
        border-bottom-width: 1px;
      }
    }
  }

  .play-button-link {
    img {
      margin: 0;
      padding: 0;
      float: left;
      padding-right: 5px;
    }
  }

  @media (max-width: 1200px) {
    background-position: bottom right;
    background-size: cover;

    .container {
      align-items: baseline;
    }

    &__wrapper {
      width: 60%;
      padding: 50px 0;
    }

    &__social {
      margin-top: 20px;
    }
  }

  @media (max-width: 979px) {
    background-position: center;
    background-size: 100%;
    background-image: url('../img/Mobile.jpg');

    h1 {
      font-size: 3em;
      color: $grey-color-light;
      padding-top: 100px;
    }

    .flow {
      color: $grey-color-light;
    }

    .button-inverted {
      background-color: $grey-color-light;
    }

    .container {
      align-items: baseline;
    }

    .section-hero__logo {
      width: 30%;
      margin-left: 70%;
      margin-top: 10px;
    }

    &__wrapper {
      width: 100%;
      padding: 20px 0;
    }

    &__social {
      margin-top: 20px;

      a {
        color: $grey-color-light;
        border-bottom-color: $grey-color-light;
      }
    }
  }

  @media (max-width: 767px) {
    background-position: top;
    background-size: cover;
    background-image: url('../img/Mobile.jpg');

    h1 {
      font-size: 2em;
      color: $grey-color-light;
      padding-top: 50px;
    }

    .flow {
      color: $grey-color-light;
    }

    .button-inverted {
      background-color: $grey-color-light;
    }

    .container {
      align-items: baseline;
    }

    .section-hero__logo {
      width: 50%;
      margin-left: 50%;
      margin-top: 10px;
    }

    &__wrapper {
      width: 100%;
      padding: 20px 0;
    }

    &__social {
      margin-top: 20px;

      a {
        color: $grey-color-light;
        border-bottom-color: $grey-color-light;
      }
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.7em;
      padding-top: 40px;
    }

    .flow {
      font-size: 1.2em;
    }
  }
}

.section-intro {
  padding: 100px 0;
}

.section-speakers {
  padding: 100px 0;
  /* background-color: $grey-color-light; */
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1;

    img {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
      object-fit: cover;
    }

    &--content {
      width: 90%;
    }
  }
}

.section-schedule {
  padding: 100px 0;

  &__items {
    position: relative;
    width: 45%;
    margin: 0 auto;
    z-index: 4;
    padding: 30px 0;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: darken($grey-color-light, 10%);
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      
    }
  }

  &__item {
    margin: 30px;
    padding: 30px;
    border: 2px solid darken($grey-color-light, 10%);
    border-radius: 10px;
    position: relative;
    z-index: 1;

    p {
      margin-bottom: 10px;
      margin-top: 10px;

      &:first-child {
        margin: 0;
        margin-bottom: 3px;
      }

      &:first-child {
        font-size: 20px;
        color: $primary-color;
      }
    }

    h5 {
      margin: 0;
      margin-top: 10px;
      font-size: 18px;
    }

    &:nth-child(odd) {
      transform: translateX(-60%);

      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 18px;
        width: 0;
        z-index: 1;
        right: -12px;
        border: medium solid darken($grey-color-light, 10%);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent darken($grey-color-light, 10%);
      }

      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: -12.7%;
        background-color: #ffffff;
        border: 2px solid $primary-color;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
    }

    &:nth-child(even) {
      transform: translateX(60%);

      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 18px;
        width: 0;
        z-index: 1;
        left: -12px;
        border: medium solid darken($grey-color-light, 10%);
        border-width: 10px 10px 10px 0;
        border-color: transparent darken($grey-color-light, 10%) transparent transparent;
      }

      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -12.5%;
        background-color: #ffffff;
        border: 2px solid $primary-color;
        top: 15px;
        border-radius: 50%;
        z-index: 99;
      }
    }
  }
}

.section-about {
  padding: 100px 0;
  background-color: $grey-color-light;
  text-align: center;
}

.section-sponsors {
  padding: 100px 0;
  text-align: center;

  p {
    margin-bottom: 20px;
  }

  img {
    width: 250px;
    margin-bottom: 75px;
  }
}

.section-location {
  padding: 100px 0;
  background-color: $grey-color-light;
  text-align: center;
}

.section-organisers {
  padding: 100px 0;
  text-align: center;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    flex: 1;

    img {
      width: 20px;
    }

    a {
      text-decoration: none;
      border-bottom-width: 0;
    }

    &--avatar {
      width: 100px !important;
      margin-bottom: 10px;
    }
  }
}
